{% extends 'website/layouts/base_layout.html' %}

{% block main_content %}
    <!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#users" role="tab" data-toggle="tab">کاربران</a></li>
        <li><a href="#tokens" role="tab" data-toggle="tab">روبات ها</a></li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
        <div class="active tab-pane fade in" id="users">
            {% include 'website/layouts/openfire_users.html' %}
        </div>
        <div class="tab-pane fade" id="tokens">
            {% include 'website/layouts/user_tokens.html' %}
        </div>
    </div>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <ul>
                {% for message in messages %}
                    <li>{{ message.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}


{% block inline_style_sheet %}
    .lato-font{
    font-family: 'Lato','BYekan', sans-serif;
    }
    .align-center{
    text-align: center !important;
    vertical-align: middle !important;
    }
{% endblock %}
